
<div class="text-center container-fluid">
  <app-view-model></app-view-model>
  <app-ej-metodo></app-ej-metodo>
  <app-ejpropertybinding></app-ejpropertybinding>
  <app-ejeventbinding></app-ejeventbinding>
  <app-ej2binding></app-ej2binding>
  <app-ejdirectiva-if></app-ejdirectiva-if>
  <app-ejdirectiva-style></app-ejdirectiva-style>
  <app-ejdirectiva-class></app-ejdirectiva-class>
  <app-ejdirectivangfor></app-ejdirectivangfor>
  <app-array-objetosng-for></app-array-objetosng-for>
  <app-ejdirectivang-switch></app-ejdirectivang-switch>
  <app-ejmidirectiva></app-ejmidirectiva>
  <app-padre></app-padre>
  <app-fecha-actual></app-fecha-actual>
  <app-copyright></app-copyright>
</div>


